.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    width: 100%;
    max-width: 400px;
}
.img-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

  .forgot-password-link:hover {
  text-decoration: underline!important;
  color: #a00!important; /* rouge plus foncé au survol */
  cursor: pointer;
}

#petitecran{
    display: none;
}

@media screen and (max-width: 576px) {
  #petitecran {
    display: initial;
  }
  }



